/* Colors */

/* background: #FCF9EE

Light Green: #D1EEE8

Grey: #B4C2C2

Dark Green: #8A9793

Dark Brown: #4A4244 */

/* SECTION - App Styles */

body {
  background-color: #FCF9EE;
}

.App {
  text-align: center;
}

/* SECTION - Header */

/* SECTION - Home Page */

/* SECTION - Add Form Page */

.add-form-page {
  display: flex;
  flex-direction: column;
}

/* SECTION - Form Page */

/* SECTION - Component Styles */

/* SECTION - Forms Component */

.forms-component {
  padding: 0px 25px;
}

/* SECTION - Form Card */

.form-card {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  padding: 25px;
  border-radius: 15px;
  background-color: #D1EEE8;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(215,215,215,0.75);
  -moz-box-shadow: 0px 0px 15px 5px rgba(215,215,215,0.75);
  box-shadow: 0px 0px 15px 5px rgba(215, 215, 215, 0.75);
}

/* SECTION - General Styles */

Link {
  text-decoration: none;
  color: black;
}

p {
  margin: 0px;
}

h1, h2 {
  color: #4A4244;
}