/* 
Colors

background: #FCF9EE

Light Green: #D1EEE8

Grey: #B4C2C2

Dark Green: #8A9793

Dark Brown: #4A4244 
*/

/* SECTION - App Styles */

body {
  background-color: #FCF9EE;
}

.App {
  text-align: center;
}

/* SECTION - General Styles */

a {
  text-decoration: none;
  color: #FCF9EE;
  background-color: #4A4244;
  border-radius: 5px;
  width: fit-content;
  align-self: center;
  padding: 5px 15px;
}

.form-card-link {
  text-decoration: none;
  color: #4A4244;
  background-color: #D1EEE8;
}

p {
  margin: 0px;
}

h1, h2 {
  color: #4A4244;
}

/* SECTION - Component Styles */

/* Header */

/* Forms Component */

.forms-component {
  padding: 0px 25px;
}

/* Form Card */

.form-card {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  padding: 25px;
  border-radius: 15px;
  background-color: #D1EEE8;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(215,215,215,0.75);
  -moz-box-shadow: 0px 0px 15px 5px rgba(215,215,215,0.75);
  box-shadow: 0px 0px 15px 5px rgba(215, 215, 215, 0.75);
}

/* SECTION - Page Styles */

/* Home Page */

/* Form Page */

/* Add Form Page */

.add-form-page {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-section {
  padding: 15px 0px;
  margin: 5px 25px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

/* Form Section 1 */

.section-1 {
  display: grid;
  grid-template-columns: .75fr 1.25fr 1.25fr .75fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 15px;
  text-align: left;
}

/* Form Section 2 */

.section-2 {
  display: grid;
  grid-template-columns: .75fr 1.25fr 1.25fr .75fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 15px;
  text-align: left;
}

/* Form Section 3 */

.section-3 {
  display: grid;
  grid-template-columns: .75fr 1.25fr 1.25fr .75fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 15px;
  text-align: left;
}

/* Form Section 4 */

.section-4 {
  display: grid;
  grid-template-columns: .75fr 1.25fr 1.25fr .75fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 15px;
  text-align: left;
}

/* Form Section 5 */

.section-5 {
  display: grid;
  grid-template-columns: .75fr 1.25fr 1.25fr .75fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 15px;
  text-align: left;
}

/* Form Section 6 */

.section-6 {
  display: grid;
  grid-template-columns: .75fr 1.25fr 1.25fr .75fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 15px;
  text-align: left;
}

/* Form Items */

.item-1 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
.item-2 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}
.item-3 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}
.item-4 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}
.item-5 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}
.item-6 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}
.item-7 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 4;
}
.item-8 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 4;
}
.item-9 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 5;
}
.item-10 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 5;
}
.item-11 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 6;
}
.item-12 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 6;
}
.item-13 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 7;
  grid-row-end: 7;
}
.item-14 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 7;
}
.item-15 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 8;
  grid-row-end: 8;
}
.item-16 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 8;
}
.item-17 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 9;
  grid-row-end: 9;
}
.item-18 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 9;
  grid-row-end: 9;
}
.item-19 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 10;
  grid-row-end: 10;
}
.item-20 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 10;
  grid-row-end: 10;
}
.item-21 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 11;
  grid-row-end: 11;
}
.item-22 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 11;
  grid-row-end: 11;
}
.item-23 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 12;
  grid-row-end: 12;
}
.item-24 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 12;
  grid-row-end: 12;
}
.item-25 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 13;
  grid-row-end: 13;
}
.item-26 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 13;
  grid-row-end: 13;
}
.item-27 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 14;
  grid-row-end: 14;
}
.item-28 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 14;
  grid-row-end: 14;
}

.submit-button {
  width: 150px;
  align-self: center;
  margin-top: 15px;
  margin-bottom: 25px;
  color: #FCF9EE;
  background-color: #4A4244;
  border-radius: 5px;
  padding: 5px 0px;
}